/* 
    Document   : style
    Created on : Aug 30, 2011, 8:54:26 PM
    Author     : craigbrookes
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



